{% extends "base.html" %}
{% block content %}
<section class="single_blog_area section_padding_80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row no-gutters">
                    <div class="col-10 col-sm-11">
                        <!-- <div class="single-post"> -->
                            <div class="post-content">
                                <div class="post-meta d-flex">
                                    <div class="post-author-date-area d-flex">
                                        <div class="post-author">
                                            <a href="#">By {{ meal.user_info.name }}</a>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="post-headline">{{ meal.name }}</h2>
                                <p>{{ meal.recipe }}</p>
                                {% if current_user.is_authenticated %}
                                <a href="{{ url_for('main.add_to_favourites', meal_id=meal.id) }}" class="read-more">Add to favourites</a>
                                {% endif %}
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
